*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}
.header{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: rgb(16, 181, 35);
    top: 0;
}
#nav .list{
    display: inline-block;
}

#nav .list> li{
    display: inline-block;
    padding:20px 0;
    position: relative;
}
#nav .list> li> a{
    color: black;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 2px;
}
#nav .list > li:hover a{
  background-color: black;
  color:rgb(16, 181, 35) ;
}
    
#nav .list > li > a{
    padding: 30px;
}

#nav .list li a{
    font-size: 15px;
    text-decoration: none;
    line-height: 40px;
}
.slider{
    width: 100%;
    min-height: 600px;
    background-color: bisque;
    margin-top: 80px;
    line-height: 600px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.content .artist-list{
    display: flex;
    margin-left: -29px;
}
.content .artist-item{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    background-color: rgb(6 188 39);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.content .artist-item img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.artist-item .artist-name{
    color: white;
    display: flex;
    margin: auto;
    font-size: 16px;
    font-weight: 550;
}
.artist-item .play-btn{
    width: 50px;
    height: 50px;
    border-radius: 100rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(254, 254, 254);
    font-size: 24px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: auto;

}
.artist-item a{
    margin: 25px;
}
.row{
  margin-left: 30px;
  width: 50%;
}

.feedback{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback-container{
    background-color: white;
    width: 750px;
    min-height: 200px;
    position: relative;
}
.close{
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.8;
    padding: 10px;
    cursor: pointer;
}
.close:hover{
    background-color: red;
}
.feedback-body{
    padding: 16px;
}
header{
    background-color: rgb(16, 181, 35);
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .fb{
    color: black;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 2px;
    font-size: 25px;
    font-style: normal;
}
.text-center{
    text-align: center !important;
}
.row1{
    margin-left: -8px;
    margin-right: -8px;
}
.row1::after{
    clear: both;
    display: block;
    content: "";
}
.mt8{
    margin-top: 8px;
}
.mt16{
    margin-top: 16px;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}

.col .Feedback-info p{
    padding: 2px;
}
.row1 .Feedback-section{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.Feedback-info{
    font-size: 17px;
    line-height: 1.4;
}

.Feedback-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}
.Feedback-form{
    font-size: 15px;
    float: right !important;
}
.Feedback-form .form-control{
    padding:10px;
    border: 1px solid #ccc;
    width: 100%;
    padding-right:0px;
}
.Feedback-form .form-submit-btn{
    margin-top: 30px;
    font-size: 15px;
    background-color: #000;
    color: white;
    padding: 10px 16px;
    float: right;
    border: 1px solid #000;
    cursor: pointer;
}
.Feedback-form .form-submit-btn:hover{
    color: #000;
    background-color: #ccc;
    border: 1px solid #ccc;
}