@media (max-width: 740px){
    .mobile-menu-btn{
        float: right;
        padding: 16.8px 30px ;
    }
    .menu-icon{
        font-size: 15px;
    }
    .mobile-menu-btn:hover{
        background-color: black;
        color:rgb(16, 181, 35);
    }
    #nav .list{
        display: block;
    }
    #nav .list> li{
        display: block;
    }
    .content .artist-list {
        display: block;
    }
    .content .artist-item{
        width: 200%;
    }
    .artist-list .row{
        padding-left: 50px;
    }
    .artist-item .artist-name{
        display: block;
        padding-left: 10px;
    }
    p.artist-name {
        margin-left: 0px !important;
    
    }
    .footer-info{
        font-size: 10px;
    }
    .footer-head{
        font-size: 14px;
    }
    .footer{
        height: 185px;
    }
    .footer-sticker{
        font-size: 20px;
    }
    .feedback-container{
        width: 360px;
        border-radius: 15px;
    }
    header{
        border-radius: 15px 15px 0px 0px;
    }
    .col-half1{
        width: 100%;
    }
    .Feedback-form {
        margin-top: 15px;
    }
    .Feedback-info{
        margin-top: 0px;
    }
    /* Contributors mobile */
    .ctb-container{
        width: 360px;
        border-radius: 15px;
    }
    .ctb-body .ctb-item {
        margin: 7px;
        height: 350px;
    }
    .ctb-name .name{
        font-weight: 550 !important;
        font-size: 16px !important;
        padding-bottom: 10px !important;
    }
    .ctb-item li{
        font-size: 14px;
    }
    
    .ctb-item .contact-icon{
        margin-top: 17px;
    }
}
@media (min-width: 740px){
    .ti-menu{
        color:rgb(16, 181, 35);
    }
}